{% extends 'hatpage.html' %}
{% block content %}
<body>
    <div class="container">
      <div class="jumbotron">
          <style>
              .first-step { margin-top: 50px }
          </style>
          <p class="first-step">Наш адрес: СПб, г.Пушкин, ул.Генерала Хазова, д.45А (вход со двора).</p>
          <p>Телефоны: Артём Николаевич Тихонов - 8 921 384-84-93,</p>
          <p>Константин Андреевичвич Боровик - 8 921 448-50-50.</p>
          <p>Основной e-mail: rotor@mail.ru</p>
          <p>Группа ВКонтакте: <a href="https://vk.com/clubrotor1" target="_blank">https://vk.com/clubrotor1</a></p>
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A40a9ef01448089b66a92389082964dc2e1e1d8871faf2c1e56b03c406fe31661&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
    </div>
</body>
{% endblock content %}