{% load el_pagination_tags %}
{% load poll_extras %}
{% load static %}
{% paginate wall_content %}
{% for val in wall_content %}
    <div class="post_header" style="overflow: hidden; margin-top: 20px">
                        <a class="post_image" href="https://vk.com/clubrotor1?z=photo-44637636_456239581%2Falbum-44637636_0%2Frev">
                            <img src="https://sun9-58.userapi.com/c849432/v849432728/166bfa/drbdg2Azqgs.jpg?ava=1" align="left" width="50" height="50" class="post_img">
                        </a>

                        <div class="post_header_info" style="margin-left: 60px">
                            <h5 class="post_author"><a class="author" href="https://vk.com/clubrotor1">Робототехнический клуб "Ротор" (ПМК "Исток")</a></h5>
                            <div class="post_date" style="margin: -4px 10px 0px -3px;">{{ val.posting_date|date:"d/m/Y" }}</div>
                        </div>
                    </div>

    <div class="post_content" style="overflow: hidden;">
                        {% if val.text != '' %}
                            <div class="wall_post_text"><h5>{{ val.text|linebreaksbr }}</h5></div>
                        {% endif %}

                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                            {% for attach in val.atachs.all %}
                                {% if attach.type == 'photo' %}
                                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                        <a href="{{ attach.url }}" itemprop="contentUrl" data-size="{{ attach.width }}x{{ attach.height }}" type_content="image">
                                            <img src="{{ attach.preview }}" itemprop="thumbnail" alt="Image description" />
                                        </a>
                                        <figcaption itemprop="caption description"></figcaption>
                                    </figure>
                                {% endif %}
                                {% if attach.type == 'video' %}
                                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                        <a href="{{ attach.url }}" itemprop="contentUrl" data-size="{{ attach.width }}x{{ attach.height }}"  type_content="video" attach_another="{{ attach.url }}" style="display: block; position: relative">
                                            <img src="{{ attach.preview }}" itemprop="thumbnail" alt="Image description">
                                            <div class="video_play"></div>
                                        </a>
                                        <figcaption itemprop="caption description"></figcaption>
                                    </figure>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% for attach in val.atachs.all %}
                            {% if attach.type == 'doc' %}
                                <a class="doc_image" href="{{ attach.url }}">
                                    <img src="https://w7.pngwing.com/pngs/521/255/png-transparent-computer-icons-data-file-document-file-format-others.png" style="margin: 0 0 0 -20px; max-height: 60px; max-width: 60px" align="left">
                                    <h5>{{ attach.preview }}</h5>
                                </a>
                            {% endif %}
                            {% if attach.type == 'link' %}
                                <div style="padding-left: 3%; border-left:2px solid #ccc; overflow: hidden; margin-top: 5px">
                                    <a href="{{ attach.url|Cutthecrap:1 }}">
                                        {% if attach.preview != 0 %}
                                            <img src="{{ attach.preview }}" style="max-height: 100%; max-width: 100%; border-radius: 20px">
                                        {% endif %}
                                        <h4 style="display: block; margin-left: 10%; position: relative; width: 70%; color: #003366">{{ attach.url|Cutthecrap:0 }}</h4>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="pswp__bg"></div>

                                    <div class="pswp__scroll-wrap">
                                        <div class="pswp__container">
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                        </div>

                                        <div class="pswp__ui pswp__ui--hidden">
                                            <div class="pswp__top-bar">
                                                <div class="pswp__counter"></div>
                                                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                                    <button class="pswp__button pswp__button--share" title="Share"></button>
                                                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                                    <div class="pswp__preloader">
                                                        <div class="pswp__preloader__icn">
                                                            <div class="pswp__preloader__cut">
                                                                <div class="pswp__preloader__donut"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                                <div class="pswp__share-tooltip"></div>
                                            </div>
                                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                            </button>
                                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                            </button>
                                            <div class="pswp__caption">
                                                <div class="pswp__caption__center"></div>
                                            </div>
                                        </div>
                                    </div>
                        </div>

                    </div>

    {% if val.copy_history.all.0 %}
        <div style="padding-left: 3%; border-left:2px solid #ccc; overflow: hidden; margin-top: 5px" class="copy_container">
                    <div class="copy_post_header">
                                <a class="copy_post_image" href="https://vk.com/clubrotor1?z=photo-44637636_456239581%2Falbum-44637636_0%2Frev">
                                    <img src="{{ val.copy_history.all.0.author_image }}" align="left" width="50" height="50" class="post_img">
                                </a>

                                <div class="copy_post_header_info" style="margin-left: 60px">
                                    <h5 class="post_author"><a class="author" href="https://vk.com/clubrotor1">{{ val.copy_history.all.0.author_name }}</a></h5>
                                    <div class="post_date" style="margin: -4px 10px 0px -3px;">{{ val.copy_history.all.0.posting_date|date:"d/m/Y" }}</div>
                                </div>
                            </div>

                    <div class="copy_post_content">
                                {% if val.copy_history.all.0.text != '' %}
                                    <div class="wall_post_text"><h5>{{ val.copy_history.all.0.text|linebreaksbr }}</h5></div>
                                {% endif %}

                                <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                    {% for attach in val.copy_history.all.0.atachs.all %}
                                        {% if attach.type == 'photo' %}
                                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                <a href="{{ attach.url }}" itemprop="contentUrl" data-size="{{ attach.width }}x{{ attach.height }}" type_content="image">
                                                    <img src="{{ attach.preview }}" itemprop="thumbnail" alt="Image description"/>
                                                </a>
                                                <figcaption itemprop="caption description"></figcaption>
                                            </figure>
                                        {% endif %}
                                        {% if attach.type == 'video' %}
                                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                <a href="{{ attach.url }}" itemprop="contentUrl" data-size="{{ attach.width }}x{{ attach.height }}"  type_content="video" attach_another="{{ attach.url }}" style="display: block; position: relative">
                                                    <img src="{{ attach.preview }}" itemprop="thumbnail" alt="Image description">
                                                    <div class="video_play"></div>
                                                </a>
                                                <figcaption itemprop="caption description"></figcaption>
                                            </figure>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                {% for attach in val.copy_history.all.0.atachs.all %}
                                    {% if attach.type == 'doc' %}
                                        <a class="doc_image" href="{{ attach.url }}">
                                            <img src="https://w7.pngwing.com/pngs/521/255/png-transparent-computer-icons-data-file-document-file-format-others.png" style="margin: 0 0 0 -20px; max-height: 60px; max-width: 60px" align="left">
                                            <h5>{{ attach.preview }}</h5>
                                        </a>
                                    {% endif %}
                                    {% if attach.type == 'link' %}
                                        <div style="padding-left: 3%; border-left:2px solid #ccc; overflow: hidden; margin-top: 5px">
                                            <a href="{{ attach.url|Cutthecrap:1 }}">
                                                {% if attach.preview != 0 %}
                                                    <img src="{{ attach.preview }}" style="max-height: 100%; max-width: 100%; border-radius: 20px">
                                                {% endif %}
                                                <h4 style="display: block; margin-left: 10%; position: relative; width: 70%; color: #003366">{{ attach.url|Cutthecrap:0 }}</h4>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="pswp__bg"></div>

                                    <div class="pswp__scroll-wrap">
                                        <div class="pswp__container">
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                        </div>

                                        <div class="pswp__ui pswp__ui--hidden">
                                            <div class="pswp__top-bar">
                                                <div class="pswp__counter"></div>
                                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                                <button class="pswp__button pswp__button--share" title="Share"></button>
                                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                                <div class="pswp__preloader">
                                                    <div class="pswp__preloader__icn">
                                                        <div class="pswp__preloader__cut">
                                                            <div class="pswp__preloader__donut"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                                <div class="pswp__share-tooltip"></div>
                                            </div>
                                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                            </button>
                                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                            </button>
                                            <div class="pswp__caption">
                                                <div class="pswp__caption__center"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    </div>
                </div>
    {% endif %}
{% endfor %}
{% show_more %}